@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 251 253;
    --foreground: 31 34 51;
    --border: 232 234 242;
    --ring: 91 79 226;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2;
  }
}
